@using MovieProDemo.Models.ViewModels
@model LandingPageVM

@{
    ViewData["Title"] = "MoviePro";
}

<style>
    .clampOverview{
        display:-webkit-box;
        -webkit-line-clamp:4;
        -webkit-box-orient:vertical;
        overflow:hidden;
    }

    .clampTitle {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    h5.card-title{
        height:2.5em;
    }
</style>

<div class="row">
    @foreach (var movie in Model.Upcoming.results)
    {
        <div class="col-sm-3 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="@movie.poster_path" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title clampTitle">@movie.title</h5>
                    <p class="card-text clampOverview">@movie.overview</p>
                    <a asp-action="Details" asp-controller="MoviesController" asp-route-id="@movie.id" class="btn btn-lg btn-block font-weight-bold btn-warning">Details</a>
                </div>
            </div>
        </div>
    }
</div>
